# As the models contains really big files with all the tensors, it is not shared in git
Models/
cache/

# Enviroment variables
.env
.idea/

# Python Caches
*/__pycache__/
*__pycache__/
conversation_cache.db

venv/

API_Database.db

# Python
*.pyc


# HuggingFace / caches
.huggingface/

# Fine-tuning outputs (VERY IMPORTANT)
Experiments/outputs/

# Logs
*.log